In [1]:
from utils.tushare_utils  import pro,ts
df = pro.stock_basic(
                exchange='',
                list_status='L',
                fields='ts_code,name'
            )
name = df[df['ts_code']=='000002.SZ']['name'][1]
print(ts.realtime_quote(ts_code='600000.SH', src='dc'))

没有找到 trade_date 为 20250829 的记录
   NAME    TS_CODE      DATE       TIME   OPEN  PRE_CLOSE  PRICE   HIGH  \
0  浦发银行  600000.SH  20250829   16:11:42  13.81      13.86  13.63  13.99

     LOW    BID  ...  A1_V   A1_P    A2_V   A2_P  A3_V  A3_P    A4_V   A4_P  \
0  13.63  13.63  ...  30.0  13.68  2387.0  13.69  72.0  13.7  2469.0  13.71

   A5_V   A5_P
0  50.0  13.72

[1 rows x 33 columns]

In [3]:
from utils.tushare_utils import IndexAnalysis
IndexAnalysis.rt_min('000001.SH',5)

        candle_end_time     open     high      low    close       amount
0   2025-08-22 10:55:00  3787.86  3793.60  3787.49  3793.60  11265263.00
1   2025-08-22 11:00:00  3793.46  3794.44  3791.18  3792.33   9948057.00
2   2025-08-22 11:05:00  3792.42  3792.54  3788.49  3789.48   9539690.00
3   2025-08-22 11:10:00  3789.64  3796.93  3788.56  3795.79  10439598.00
4   2025-08-22 11:15:00  3795.85  3797.33  3793.87  3794.71   8751442.00
..                  ...      ...      ...      ...      ...          ...
315 2025-09-01 14:40:00  3874.32  3875.85  3872.43  3875.55  10692454.00
316 2025-09-01 14:45:00  3875.47  3875.84  3872.98  3873.38  12366315.00
317 2025-09-01 14:50:00  3873.54  3873.77  3871.35  3873.77  14326043.00
318 2025-09-01 14:55:00  3873.47  3875.96  3873.04  3875.47  17323330.00
319 2025-09-01 15:00:00  3875.66  3876.75  3874.71  3875.53  17057979.00

[320 rows x 6 columns]

        candle_end_time     open     high      low    close       amount
0   2025-08-22 10:55:00  3787.86  3793.60  3787.49  3793.60  11265263.00
1   2025-08-22 11:00:00  3793.46  3794.44  3791.18  3792.33   9948057.00
2   2025-08-22 11:05:00  3792.42  3792.54  3788.49  3789.48   9539690.00
3   2025-08-22 11:10:00  3789.64  3796.93  3788.56  3795.79  10439598.00
4   2025-08-22 11:15:00  3795.85  3797.33  3793.87  3794.71   8751442.00
..                  ...      ...      ...      ...      ...          ...
315 2025-09-01 14:40:00  3874.32  3875.85  3872.43  3875.55  10692454.00
316 2025-09-01 14:45:00  3875.47  3875.84  3872.98  3873.38  12366315.00
317 2025-09-01 14:50:00  3873.54  3873.77  3871.35  3873.77  14326043.00
318 2025-09-01 14:55:00  3873.47  3875.96  3873.04  3875.47  17323330.00
319 2025-09-01 15:00:00  3875.66  3876.75  3874.71  3875.53  17057979.00

[320 rows x 6 columns]